<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>

		<rewrite>
			<rules> 
				<rule name="OrgPage" stopProcessing="true"> 
					<match url="^(.*)$" />
					<conditions logicalGrouping="MatchAll"> 
						<add input="{HTTP_HOST}" pattern="^(.*)$" /> 
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" /> 
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" /> 
					</conditions>
					<action type="Rewrite" url="index.php/{R:1}" /> 
				</rule>
			</rules>
		</rewrite>
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <remove segment="bin" />
                </hiddenSegments>
            </requestFiltering>
        </security>
        <caching>
            <profiles>
                <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".gif" policy="CacheForTimePeriod" kernelCachePolicy="CacheUntilChange" duration="12:00:30" />
                <add extension=".png" policy="CacheForTimePeriod" kernelCachePolicy="CacheUntilChange" duration="12:00:30" />
                <add extension=".jpg" policy="CacheForTimePeriod" kernelCachePolicy="CacheUntilChange" duration="12:00:30" />
            </profiles>
        </caching>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>


    </system.webServer>
</configuration>
